
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top color">
          <div class="col mb-3" style="margin-left: 10%;">
            <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
              <img class="bi me-2" width="80" src="https://kcntt.qnu.edu.vn/Resources/Images/SubDomain/kcntt/logo90x90.png">
            </a>
          </div>
      
          <div class="col mb-3">
            <h3 class="border-bottom">THÔNG TIN LIÊN HỆ</h3>
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted ">
                    <mat-icon class="icon-position text-color" aria-hidden="false" fontIcon="">location_on </mat-icon>
                    <span class="text-color">170 An Dương Vương</span>
                </a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">
                    <mat-icon class="icon-position text-color" aria-hidden="false" fontIcon="">phone_contact</mat-icon>
                    <span class="text-color">(84-256) 3646072</span>
                </a>
              </li>
            </ul>
          </div>
      
          <div class="col mb-3">
            <h3 class="border-bottom">LINK LIÊN KẾT</h3>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="https://qnu.edu.vn/" class="nav-link p-0 text-color">Trường đại học Quy Nhơn</a></li>
              <li class="nav-item mb-2"><a href="https://tuyensinh.qnu.edu.vn/" class="nav-link p-0 text-color">Trang tuyển sinh</a></li>
            </ul>
          </div>
        </footer>


  