<header class="mb-3 border-bottom header aaa"style="display: inline-flex;" >
    <div class="container" style="display: inline-flex;" >
      <div style="display: inline-flex;" class="flex-wrap align-items-center justify-content-center justify-content-lg-start">      
        <a *ngIf="isLoggedIn && loginService.getUserRole() == 'ADMIN';" [routerLink]="'admin'" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <img src="https://kcntt.qnu.edu.vn/Resources/Images/SubDomain/kcntt/logo90x90.png" width="50" height="50"> <span class="text-font">KHOA CÔNG NGHỆ THÔNG TIN</span>
        </a>
        <a *ngIf="isLoggedIn && loginService.getUserRole() == 'STUDENT';" [routerLink]="'student'" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <img src="https://kcntt.qnu.edu.vn/Resources/Images/SubDomain/kcntt/logo90x90.png" width="50" height="50"> <span class="text-font">KHOA CÔNG NGHỆ THÔNG TIN</span>
        </a>
        <a *ngIf="isLoggedIn && loginService.getUserRole() == 'TEACHER';" [routerLink]="'teacher'" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <img src="https://kcntt.qnu.edu.vn/Resources/Images/SubDomain/kcntt/logo90x90.png" width="50" height="50"> <span class="text-font">KHOA CÔNG NGHỆ THÔNG TIN</span>
        </a>
        <a *ngIf="!isLoggedIn" [routerLink]="'/'" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <img src="https://kcntt.qnu.edu.vn/Resources/Images/SubDomain/kcntt/logo90x90.png" width="50" height="50"> <span class="text-font">KHOA CÔNG NGHỆ THÔNG TIN</span>
        </a>        
      </div>
      <div class="col"></div>
      
      <div  class="dropdown text-end" >        
        <a class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">  
          <p *ngIf="isLoggedIn" class="name"> {{user.fullName}}</p>         
          <img *ngIf="!isLoggedIn" src="https://cdn-icons-png.flaticon.com/128/3177/3177440.png" alt="mdo" width="32" height="32" class="rounded-circle">
          <img *ngIf="isLoggedIn" src="{{user.profile}}" alt="mdo" width="32" height="32" class="rounded-circle"> 
        </a>
        <ul  class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a *ngIf="!isLoggedIn" class="dropdown-item" [routerLink]="'/login'">
            Đăng nhập
            <div class="icon-position">                            
              <mat-icon aria-hidden="false" fontIcon="">login</mat-icon>
            </div>
            </a></li>
          <li><a *ngIf="!isLoggedIn" class="dropdown-item" [routerLink]="'/signup'">
            Đăng ký
            <div class="icon-position mg-icon">
              <mat-icon  aria-hidden="false" fontIcon="">app_registration</mat-icon> 
            </div>                           
          </a></li>
          <li><a *ngIf="isLoggedIn" class="dropdown-item" [routerLink]="'/user/profile'">Hồ sơ
            <div class="icon-position" style="margin-left: 50px">                            
              <mat-icon aria-hidden="false" fontIcon="">manage_accounts</mat-icon>
            </div>
          </a></li>
          <li><hr *ngIf="isLoggedIn" class="dropdown-divider"></li>
          <li><a *ngIf="isLoggedIn" (click)="logout()"class="dropdown-item" href="#">Đăng xuất
            <div class="icon-position" style="margin-left: 20px">                            
              <mat-icon aria-hidden="false" fontIcon="">logout</mat-icon>
            </div>
          </a></li>
        </ul>        
      </div>
    </div>
  </header>
