<mat-card>
    <mat-card-actions>        
        <mat-card-header>Menu</mat-card-header>
        <button mat-button routerLink="/">         
            <mat-icon aria-hidden="false" fontIcon="">home</mat-icon>   
            Trang chủ                      
        </button>
        <button mat-button routerLink="/student/jobInfo">         
            <mat-icon aria-hidden="false" fontIcon="">work</mat-icon>   
            Thông tin tuyển dụng                      
        </button>
        <button mat-button routerLink="/student/newInfo">         
            <mat-icon aria-hidden="false" fontIcon="">newspaper</mat-icon>   
            Tin tức                      
        </button>
        <button mat-button routerLink="/student/registerInternship">         
            <mat-icon aria-hidden="false" fontIcon="">edit_document</mat-icon>   
            Đăng ký thực tập                      
        </button>
        <button mat-button routerLink="/student/report">         
            <mat-icon aria-hidden="false" fontIcon="">assignment</mat-icon>   
            Nhật ký thực tập                      
        </button>
        <button mat-button routerLink="/student/finalReport">         
            <mat-icon aria-hidden="false" fontIcon="">edit_calendar</mat-icon>   
            Báo cáo thực tập                      
        </button>
    </mat-card-actions>
</mat-card>
