.p0{
    border: none;
    padding: 0;
}

.icon-position{
    display: inline-flex;
    vertical-align: middle;
  }

.mb-20 {
    margin-bottom: 20px;
}

.btn-add {
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
}

