
  <body class="u-body u-xl-mode" style="margin-top: 50px;" data-lang="en"> 
    <section class="u-clearfix u-image u-shading u-section-1" id="sec-9bd1" data-image-width="1440" data-image-height="960">
      <div class="u-clearfix u-sheet u-sheet-1">
      </div>
    </section>
    <section class="u-clearfix u-white u-section-2" id="sec-be49">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-20 u-layout-spacing-vertical u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout" src="">
                  <img class="u-image u-image-1" src="../../../assets/image/gioithieu.jpg" data-image-width="620" data-image-height="400">
                </div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <h3 class="u-custom-font u-font-oswald u-text u-text-1">KHOA CÔNG NGHỆ THÔNG TIN</h3>
                  <p class="u-text u-text-2">Ngày 14 tháng 5 năm 1999, Bộ Giáo dục và Đào tạo đã ra Quyết định số 1649/QĐ-BGDĐT về việc thành lập Khoa Tin học, Trường Đại học Sư phạm Quy Nhơn.<br>
                    <br>Dựa trên mục tiêu và sứ mệnh của Trường ĐHQN, Khoa CNTT đã không ngừng phấn đấu, nỗ lực để thành công với sứ mệnh đào tạo và bồi dưỡng nguồn nhân lực ngành CNTT có chất lượng; Nghiên cứu phát triển và ứng dụng các công nghệ tiên tiến trên cơ sở phát huy thế mạnh về khoa học cơ bản; Tiếp cận các chuẩn mực giáo dục đại học trong nước và khu vực. Trở thành địa chỉ tin cậy về đào tạo đại học, sau đại học, nghiên cứu trong lĩnh vực CNTT.<br>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-palette-4-dark-2 u-section-3" id="sec-2fd2">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-center u-container-style u-group u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <h2 class="u-custom-font u-font-oswald u-text u-text-body-alt-color u-text-1">CHUYÊN NGÀNH ĐÀO TẠO</h2>
          </div>
        </div>
        <div class="u-clearfix u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-expanded-width-xs u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-15 u-size-30-md u-layout-cell-1">
                <div class="u-container-layout u-container-layout-2"><span class="u-border-2 u-border-palette-5-base u-file-icon u-icon u-icon-circle u-text-palette-5-base u-icon-1"><img src="../../../assets/image/cntt.png" alt=""></span>
                  <h3 class="u-custom-font u-font-oswald u-text u-text-body-alt-color u-text-2">CÔNG NGHỆ THÔNG TIN</h3>
                </div>
              </div>
              <div class="u-align-center u-container-style u-layout-cell u-size-15 u-size-30-md u-layout-cell-2">
                <div class="u-container-layout u-container-layout-3"><span class="u-border-2 u-border-palette-5-base u-file-icon u-icon u-icon-circle u-text-palette-5-base u-icon-2"><img src="../../../assets/image/ktpm.png" alt=""></span>
                  <h3 class="u-custom-font u-font-oswald u-text u-text-body-alt-color u-text-3">kỸ THUẬT PHẦN MỀM</h3>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-15 u-size-30-md u-layout-cell-3">
                <div class="u-container-layout u-container-layout-4"><span class="u-border-2 u-border-palette-5-base u-file-icon u-icon u-icon-circle u-text-palette-5-base u-icon-3"><img src="../../../assets/image/ttnt.png" alt=""></span>
                  <h3 class="u-align-center u-custom-font u-font-oswald u-text u-text-body-alt-color u-text-4">TRÍ tuệ nhân tạo</h3>
                </div>
              </div>
              <div class="u-align-center u-container-style u-layout-cell u-right-cell u-size-15 u-size-30-md u-layout-cell-4">
                <div class="u-container-layout u-container-layout-5"><span class="u-border-2 u-border-palette-5-base u-file-icon u-icon u-icon-circle u-text-palette-5-base u-icon-4"><img src="../../../assets/image/khmt.png" alt=""></span>
                  <h3 class="u-custom-font u-font-oswald u-text u-text-body-alt-color u-text-5">khoa học máy tính</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-4" id="sec-edf4">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-image u-layout-cell u-left-cell u-shading u-size-30 u-image-1" data-image-width="5000" data-image-height="3333">
                <div class="u-container-layout">
                  <div class="u-align-center u-border-3 u-border-palette-5-base u-container-style u-group u-group-1">
                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                      <h2 class="u-custom-font u-font-oswald u-text u-text-1">SỨ mệnh</h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-valign-middle">
                  <p class="u-text u-text-2"> Khoa Công nghệ thông tin Trường Đại học Quy Nhơn là trung tâm đào tạo đại học, sau đại học, cung cấp nguồn nhân lực chất lượng cao đáp ứng yêu cầu phát triển kinh tế - xã hội đất nước, đặc biệt là đào tạo nguồn nhân lực cho khu vực miền Trung - Tây Nguyên. Khoa cũng là đơn vị quan trọng trong nghiên cứu khoa học, phát triển ứng dụng và chuyển giao công nghệ thuộc lĩnh vực công nghệ thông tin.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-5" id="carousel_ecb1">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout">
                  <p class="u-text u-text-1"> Đến năm 2030, Khoa Công nghệ thông tin Trường Đại học Quy Nhơn trở thành đơn vị đào tạo và nghiên cứu khoa học uy tín của cả nước, có vai trò nòng cốt trong đào tạo, nghiên cứu, và chuyển giao các sản phẩm đào tạo về Công nghệ thông tin của Trường Đại học Quy Nhơn.</p>
                </div>
              </div>
              <div class="u-align-center-sm u-align-center-xs u-container-style u-image u-layout-cell u-right-cell u-shading u-size-30 u-image-1" data-image-width="500" data-image-height="435">
                <div class="u-container-layout">
                  <div class="u-align-center u-border-3 u-border-palette-5-base u-container-style u-group u-group-1">
                    <div class="u-container-layout u-valign-middle u-container-layout-3">
                      <h2 class="u-custom-font u-font-oswald u-text u-text-2">Tầm nhìn</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-6" id="sec-75e3">
      <div class="u-clearfix u-sheet u-valign-top u-sheet-1"><!--post_details--><!--post_details_options_json--><!--{"source":""}--><!--/post_details_options_json--><!--blog_post-->
        <div class="u-container-style u-expanded-width u-post-details u-post-details-1">
          <div class="u-container-layout u-valign-top u-container-layout-1">
            <h3 class="u-text u-text-default u-text-1">CƠ CẤU TỔ CHỨC</h3><!--blog_post_image-->
            <img alt="" class="u-blog-control u-expanded-width u-image u-image-default u-image-1" src="../../../assets/image/cocautochuc.png" data-image-width="1097" data-image-height="665"><!--/blog_post_image-->
          </div>
        </div><!--/blog_post--><!--/post_details-->
      </div>
    </section>
</body>
    
      