.position-card{
    min-width: 100px; 
    text-align: right;
}

.mlr-10{
    margin-left: 30px;;
    margin-right: 30px;
}

.icon-size {
    max-width: 40px;
}

.img-size {
    max-height: 38px;
}

.scroll {
    height: 300px;
    overflow: auto;
}

.mt-20 {
    margin-top: 20px;
}

.center {
    text-align: center;
}

.size {
    max-width: 200px;
}