<mat-card>
    <mat-card-actions>        
        <mat-card-header>Menu</mat-card-header>
        <button mat-button routerLink="/">         
            <mat-icon aria-hidden="false" fontIcon="">home</mat-icon>   
            Trang chủ                      
        </button>
        <button mat-button routerLink="/teacher/viewReport">         
            <mat-icon aria-hidden="false" fontIcon="">plagiarism</mat-icon>   
            Xem báo cáo                     
        </button>
        <button mat-button routerLink="/teacher/assess">         
            <mat-icon aria-hidden="false" fontIcon="">assignment</mat-icon>   
            Đánh giá kết quả thực tập                     
        </button>
        <button mat-button routerLink="/teacher/newInfo">         
            <mat-icon aria-hidden="false" fontIcon="">newspaper</mat-icon>   
            Tin tức                      
        </button>
    </mat-card-actions>
</mat-card>
