<mat-card>
    <mat-card-actions>        
        <mat-card-header>Menu</mat-card-header>
        <button mat-button routerLink="/">         
            <mat-icon aria-hidden="false" fontIcon="">home</mat-icon>   
            Trang chủ                      
        </button>
        <button mat-button routerLink="/admin/managerCompany">         
            <mat-icon aria-hidden="false" fontIcon="">store</mat-icon>   
            Quản lý công ty                      
        </button>
        <button mat-button routerLink="/admin/managerTeacher">         
            <mat-icon aria-hidden="false" fontIcon="">assignment_ind</mat-icon>   
            Quản lý giảng viên                      
        </button>
        <button mat-button routerLink="/admin/managerStudent">         
            <mat-icon aria-hidden="false" fontIcon="">school</mat-icon>   
            Quản lý sinh viên                      
        </button>
        <button mat-button routerLink="/admin/job">         
            <mat-icon aria-hidden="false" fontIcon="">work</mat-icon>   
            Thông tin tuyển dụng                      
        </button>
        <button mat-button routerLink="/admin/new">         
            <mat-icon aria-hidden="false" fontIcon="">newspaper</mat-icon>   
            Quản lý tin tức                      
        </button>
        <button mat-button routerLink="/admin/new">         
            <mat-icon aria-hidden="false" fontIcon="">leaderboard</mat-icon>   
            Thống kê                      
        </button>
    </mat-card-actions>
</mat-card>
